.app {
  border: 1px solid red;
  padding:5px;
  font-family: georgia;
  font-style: italic;
}

.main {
  border: 1px solid blue;
  padding:5px;
}

.holder {
  border: 1px dotted purple;
  padding:5px;
}

.nestchild {
  width: 100px;
  display: inline-block;
  border: 5px solid black;
  padding: 15px;
}

.title {
  font-size: 24px;
  background-color: pink;
  text-align: center;
  padding: 15px;
}

.header {
  font-weight: bold;
}

.star {
  position: relative;
  width: 40px;
  height: 40px;
}

.star:before,
.star:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 4px solid red;
  -moz-border-radius: 10px 10px 0 10px;
       border-radius: 10px 10px 0 10px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star:after {
  left: auto;
  right: 0;
  -moz-border-radius: 10px 10px 10px 0;
       border-radius: 10px 10px 10px 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}