.app {
  border: 1px solid red;
  padding:5px;
}

.main {
  border: 1px solid blue;
  padding:5px;
}

.holder {
  border: 1px dotted purple;
  padding:5px;
}

.nestchild {
  border: 5px solid black;
  padding: 15px;
}

.title {
  font-size: 24px;
  background-color: pink;
  padding: 3px;
}

.header {
  font-weight: bold;
}

.star {
    position: relative;
    width: 212px;
    height: 100px;
}

.star:before,
.star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.star:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}